<div ng-controller="AuthenticationCtrl" class="login-container">
    <div class="space-12"></div>
    <div class="center">
        <h1>
            <i class="icon-leaf green"></i>
            <span class="red">51流量推广</span>
            <span class="white">服务后台</span>
        </h1>
        <h4 class="blue">&copy; 七彩投资</h4>
    </div>

    <div class="space-6"></div>

    <div class="position-relative">
        <div id="login-box" class="login-box visible widget-box no-border">
            <div class="widget-body">
                <div class="widget-main">
                    <h4 class="header blue lighter bigger">
                        <i class="icon-coffee green"></i>
                        请输入您的信息
                    </h4>

                    <div class="space-6"></div>

                    <form name="userForm" ng-submit="signin()" class="signin" novalidate autocomplete="off">
                        <fieldset>
                            <label class="block clearfix">
                                <span class="block input-icon input-icon-right">
                                    <input type="text" class="form-control" ng-model="credentials.userName" placeholder="用户名" />
                                    <i class="icon-user"></i>
                                </span>
                            </label>

                            <label class="block clearfix">
                                <span class="block input-icon input-icon-right">
                                    <input type="password" class="form-control" ng-model="credentials.password" placeholder="密码" />
                                    <i class="icon-lock"></i>
                                </span>
                            </label>

                            <div class="space"></div>

                            <div class="clearfix">
                                <!--<label class="inline">-->
                                <!--<input type="checkbox" class="ace" />-->
                                <!--<span class="lbl"> Remember Me</span>-->
                                <!--</label>-->

                                <button type="submit" class="width-35 pull-right btn btn-sm btn-primary">
                                    <i class="icon-key"></i>
                                    登录
                                </button>
                            </div>

                            <div class="space-4"></div>
                            <alert type="danger" ng-show="error" class="text-center text-danger">
                                <span ng-bind="error"></span>
                            </alert>
                        </fieldset>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>